<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
  <title>Group Workout Tracker</title>
</head>

<body>
  <div class="heading">
    <header>
      <h1>Group Workout Tracker</h1>
    </header>
  </div>


  <div class="topcontainer">
    <div class="user">
      <h2>{{current_user.first_name}} {{current_user.last_name}}</h2>
      <a href="/workouts">Dashboard</a>
      <a class=navLink href="/logout">Log Out</a>
    </div>

  </div>

  <div class="containerX">
    <div class="WOhead">

      <h3>{{workouts.activity}} on {{workouts.date.strftime("%B %d %Y")}}</h3>
      <br>
    </div>

    <div class="row">


      <div class="col-2">
        <div class="incol">
          <div class="post">
            <form action='/workouts/data' method='post'>

              <h4>Workout Activity:</h4> {{ workouts.activity }}
              <br>
              <br>
              <h4>Duration of Workout:</h4> {{ workouts.duration }}
              <br>
              <br>
              <h4>Positives:</h4> {{ workouts.positives }}
              <br>
              <br>
              <h4>Negatives:</h4> {{ workouts.negatives }}
              <br>
              <br>
              <h4>Date of Workout:</h4> {{ workouts.date.strftime("%m/%d/%Y") }}
            </form>
          </div>
        </div>
      </div>
    </div>

</body>

</html>